<div id="header">

  <ul>
    <li><a href="http://www.chorographics.com/consult.html">Consulting</a></li>
    <li><a href="http://www.chorographics.com/cv.html">C.V.</a></li>
    <li id="current"><a href="http://www.chorographics.com/projects.html">Projects</a></li>
    <li><a href="http://www.chorographics.com/index.html">About</a></li>
  </ul>
</div>

<div id="contents">

<div id="leftcol"><p><b>Selected projects</b></p>
<ul class="bullet2">
<li class="bullet2li"><a href="#Irvine">Irvine Ranch Conservancy</a></li>
<li class="bullet2li"><a href="#Gambia">The Gambia</a></li>
<li class="bullet2li"><a href="#Madagascar">Madagascar</a></li>
<li class="bullet2li"><a href="#Guianas">Guianan Moist Forests</a>
</li><li class="bullet2li"><a href="#WilliamPenn">William Penn Foundation</a>
</li><li class="bullet2li"><a href="#Marxan">MARXAN Extensions</a></li>
<li class="bullet2li"><a href="#Global">Global Priorities</a></li>
<ul>
</ul></ul></div>

<div id="rightcol">

<h2 id="Irvine">Irvine Ranch Conservancy</h2>
<b>GIS system design and set up, conservation GIS analysis, online GIS library</b>
<p><b>Client:</b> <a href="http://www.irvineranchconservancy.org" target="_blank">Irvine Ranch Conservancy</a></p>
<p><img id="left" src="images/cwren.jpg"> The Irvine Ranch Conservancy is responsible for managing roughly
50,000 acres of open space in Southern California. These lands include
large blocks of increasingly rare Mediterranean habitats such as
coastal sage scrub, oak woodland and riparian forests. A wide variety
of federally listed plants and animals are found in the canyons and
hills that make up the reserve, including California gnatcatcher (<i>Polioptila californica</i>), "Least" Bell's vireo (<i>Vireo bellii</i>), Cactus wren (<i>Campylorhynchus brunneicapillus</i>) and Laguna Beach Dudleya (<i>Dudleya stolonifera</i>).
The reserve also provides abundant recreation opportunities for an
increasingly developed and populous Orange County. Fire, invasive weeds
and illegal access are the chief threats to the reserve.</p>
<p>Simply put, GIS is essential for effective land management and can
be used as a tool to mitigate the threats listed above. My work at the
conservancy involved three related project areas:</p>
<ul>
	<li><b>GIS system design and set up:</b> This involved all
aspects of hardware and software acquisition, data collection from
Irvine Conservancy partners and online repositories and the
establishment of management procedures for data storage and backup.</li>
	<li><b>Conservation GIS analysis:</b> Projects included habitat modeling for a small and highly cute endangered rodent, the Pacific Pocket Mouse (<i>Perognathus longimembris pacificus</i>),
and development of a model to predict the ecological impact of fire
from a 90-year historical fire database. Work continues to field
validate both models.</li>
	<li id="IRC"><b>Online GIS library:</b>
GIS data is only useful if it can be readily and easily put to use. I
developed and implemented a system that documents GIS data using
standard metadata tools, and then uses these metadata records to build
an online searchable database of all GIS data, maps and projects
available at the Conservancy. The resulting GIS "library" is housed
online and accessed via an intuitive web-browser interface. In this way
the library can be searched by any user of the Conservancy's GIS from
anywhere with an internet connection and permission to access the
information. The system was programmed using open source tools including <a href="http://www.rubyonrails.org/">Ruby on Rails</a> to drive a <a href="http://www.mysql.org/">MySQL</a> database. Please email me if you would like to take an inside look.</li>
</ul>
<img src="http://dl.dropbox.com/u/28839629/irc.jpg" border="1" width="520">
<p style="font-size: 90%;">Above, screenshot showing search results for
"Pocket Mouse" in the GIS library/database. Searches can be filtered by
additional terms for location and data category.</p>
<a href="http://www.chorographics.com/projects.html">Return to top</a>
<br />
<br />
<br />

<h2 id="Gambia">The Gambia</h2>
<img id="right" src="images/bolong.jpg"><strong>Biodiversity Database and Monitoring System</strong>
<p><strong>Clients:</strong> Department of Parks and Wildlife Management, The Gambia; <a href="http://www.gefweb.org/">The Global Environment Facility (GEF)</a>; <a href="http://www.panda.org/warpo">WWF-Senegal</a>.</p>
<p>The Gambia’s coastal and marine biodiversity is nationally and internationally significant and provides important ecosystem services to local communities. Although a set of conservation areas is currently in place to safeguard this heritage, biodiversity resources in the region face considerable and increasing pressure from a human population expected to grow at an annual rate 3-4% into the foreseeable future and nearly double to 2 million people by the year 2025.</p>

<p>Coastal systems are under particular threat: 91% of The Gambia’s population lives within 100 km of the coast, and these coastal populations are increasing in number and density. Population density in The Gambia is already among the highest in sub-Saharan Africa. It is well known that coastal ecosystems (e.g. mangroves, wetlands) provide important direct and indirect environmental services to people, supporting fisheries and preventing coastal erosion for example. Human activities having direct and indirect impacts on these resources are also well documented. For example, urban encroachment, industrial development, increasing agricultural activities, fuelwood extraction and over-harvesting have all been cited as threats to the Tanbi Wetland Complex, a recently designated Ramsar Site within the vicinity of Banjul in the Western Division. In short, coastal resources are finite. As human population grows in size and density in The Gambia’s coastal zone, it will likely increasingly impact the coastal resources on which it increasingly depends.</p>

<p>Protecting The Gambia’s coastal resources so that they continue to provide services to
people over the long term without degradation will require active and balanced
management of the ecosystem. Biodiversity – the sum of biological resources in the
coastal zone, from mangroves to local freshwater fish – is the immediate source of
resources on which people depend. Effectively managing these resources, therefore,
requires consistent, organized and relevant data to measure status and trends of biological resources over time.</p>

<p>To this end, we have designed a biodiversity monitoring system and database with several main components. These are:
<ul>
<li><b>Focal targets</b>, such as marine turtles, selected through a consensus-driven process
<li>Quantitative <b>conservation goals</b> for each focal target
<li><b>Indicators</b> designed to quickly assess and communicate progress towards goals
<li><b>Monitoring programs</b> to collect necessary data and measure progress over time
<li>Monitoring databases and other <b>technical tools</b>, such as GIS and remote sensing, for data analysis and storage
</ul>
</p>

<p>The final report for this project may be downloaded here:<br>
Allnutt, T.F., Dia, I.M. and Touray, O. 2007. <a href="http://www.chorographics.com/pdfs/Monitoring System Final Report.pdf" target="_blank">Biodiversity Monitoring System and Database for The Gambia</a>. Unpublished report. 47 pp.</p>

<a href="http://dl.dropbox.com/u/28839629/gbdb.jpg" target="DraftPri" onclick="return !window.open('http://dl.dropbox.com/u/28839629/gbdb.jpg','Gambia Database', 'width=765,height=560,resizable=1,scrollbar=no')">
<img src="http://dl.dropbox.com/u/28839629/gbdb.jpg" border="1" width="325"></a>

<p style="font-size: 90%;">Above, first version of biodiversity
monitoring database showing forms for data entry (click on image for
larger version in new window).</p>
<a href="http://www.chorographics.com/projects.html">Return to top</a>
<br>
<br>
<br>

<h2 id="Madagascar">Madagascar</h2>
<p><b>Clients:</b> <a href="http://www.usaid.gov/missions/mg/">US-AID Madagascar</a>; <a href="http://www.conservation.org/xp/CIWEB/regions/africa/madagascar.xml">Conservation International-Madagascar</a>; <a href="http://www.worldwildlife.org/wildplaces/mad/">WWF-Madagascar</a>.</p>
<p><img id="left" src="images/mad_kids.jpg">Extraordinary levels of endemism and high rates of deforestation
place the Indian Ocean island of Madagascar near the top of virtually
every conservation priority list. Since 2002, I have been working on a
variety of conservation projects in Madagascar, as both an employee of
WWF-US and, more recently, as an independent consultant. Clients have
included WWF-Madagascar and Conservation International-Madagascar. All
projects have involved spatial planning and conservation priority
setting using GIS. Two key projects are highlighted below.</p>
<p><strong>Ecoregion Vision for the Ala Atsinanana (Moist Forest Ecoregion)</strong></p>
<p>The Madagascar Moist Forest Ecoregion, or Ala Atsinanana in
Malagasy, spans nearly two-thirds of the island of Madagascar, covering
over 300,000 km² in total. Though estimates vary, the vast majority of
the ecoregion appears to have once been covered by tropical moist
forest; currently only about 15% remains. The ecoregion is one of WWF's
"Global 200" ecoregions, and as such has become a focus of WWF's
conservation efforts. As part of this, WWF has developed a
"Conservation Vision" for the ecoregion: a 50-year plan for where and
how to achieve effective conservation across the region.</p>
<p>My work on this has involved helping to set and apply the
methodology for delimiting large-scale, long-term priority landscapes
within the ecoregion: the <strong>where</strong> component of the
"vision". This method merged new quantitative methods with classic
expert assessment, drawing on the complimentary strengths of both
approaches. We used the planning software "MARXAN" and other
data-driven methods not to set final, fixed-in-place priorities, but
rather as inputs to support expert delineation of final priority
landscapes. Thus, for perhaps the first time, final priorities were
selected using a combination of expert knowledge and a rigorous,
target-driven analysis incorporating distributional data for hundreds
of species, and utilizing the latest information on forest cover,
deforestation, and other threats.</p>
<a href="http://dl.dropbox.com/u/28839629/mada1sm.jpg" target="DraftPri" onclick="return !window.open('http://dl.dropbox.com/u/28839629/mada1sm.jpg','DraftPri', 'width=430,height=555,resizable=1,scrollbar=no')">
<img src="http://dl.dropbox.com/u/28839629/mada1sm.jpg" border="1" width="200"></a>

<p style="font-size: 90%;">Above, DRAFT WWF priorities for the Ala Atsinanana (Moist Forest) Ecoregion (click on image for larger version in new window).</p>
<br>
<p id="Durban"><strong>Durban Vision, Priority Setting Sub-Group</strong></p>
<p><img id="right" src="images/mad_blur.jpg">Madagascar president Marc Ravolomanana announced a plan at the World
Parks Congress in 2004 to more than triple the size of Madagascar's
protected area network from 1.7 million to 6 million hectares. Soon
after, several committees of local and international scientists and
technical experts were organized to achieve this ambitious goal,
commonly referred to as the "Durban Vision".</p>
<p>I have been working since 2004 with the "Prioritization Sub-Group"
of the Durban Vision. This group is tasked with organizing the
biological data and determining the methodology to be used to identify
and delimit new protected areas. In this capacity, I have organized and
given trainings, helped acquire and organize biological distributional
data, and performed analyses using GIS and specialized planning
software (such as "Marxan"). Some initial results of these efforts are
shown below.</p><br>

<a href="http://dl.dropbox.com/u/28839629/lemur_sm.jpg" target="LemurDraft" onclick="return !window.open('http://dl.dropbox.com/u/28839629/lemur_sm.jpg','LemurDraft','width=290,height=548,resizable=1,scrollbar=no')">
<img src="http://dl.dropbox.com/u/28839629/lemur_sm.jpg" border="1" width="132">
</a>

<a href="http://dl.dropbox.com/u/28839629/amps_sm.jpg" target="AmpDraft" onclick="return !window.open('http://dl.dropbox.com/u/28839629/amps_sm.jpg','AmpDraft', 'width=290,height=541,resizable=1,scrollbar=no')">
<img src="http://dl.dropbox.com/u/28839629/amps_sm.jpg" style="margin-left: 30px;" border="1" width="133">
</a>

<a href="http://dl.dropbox.com/u/28839629/rept_sm.jpg" target="ReptDraft" onclick="return !window.open('http://dl.dropbox.com/u/28839629/rept_sm.jpg','ReptDraft', 'width=290,height=555,resizable=1,scrollbar=no')">
<img src="http://dl.dropbox.com/u/28839629/rept_sm.jpg" style="margin-left: 30px;" border="1" width="130">
</a>

<p style="font-size: 90%;">Above, DRAFT areas needed to meet
conservation targets for Lemurs (left), Amphibians (middle), and
threatened Reptiles (right) (click on images for larger versions in new
window).</p>
<a href="http://www.chorographics.com/projects.html">Return to top</a>
<br>
<br>
<br>

<h2 id="Guianas">Guianan Moist Forests</h2>
<p><strong>Clients:</strong> <a href="http://www.wwfguianas.org/">WWF-Guianas</a>; <a href="http://wwf.us/about_wwf/where_we_work/latin_america_and_caribbean/solutions_region/guianas/index.cfm">WWF-US</a>.</p>
<p><img id="left" src="images/gy.jpg">Like the Moist Forests of Madagascar described above, the Guianan
Moist Forests are also a WWF "Global 200" priority ecoregion.
Stretching across almost 550,000 km² of Northeastern South America,
these tropical broadleaf forests, though relatively under-explored, are
amongst the richest in the world in terms of plant and animal species.
Unlike the forests of Madagascar, the Guianan Moist Forests are
relatively undisturbed, in fact close to 90% of the ecoregion remains
in a natural state.</p>
<p>Since 2003, I have been helping WWF-Guianas and local partners
develop a "Conservation Vision" for the Moist Forest ecoregion. This
has involved collecting spatial data for focal species, helping to
produce an ecoregion-wide vegetation classification (pictured below),
developing a GIS and MARXAN-based methodology for identifying and
mapping priority landscapes, and providing GIS trainings for local
staff and partners.</p>
<p>MARXAN has been used to develop a series of potential conservation
scenarios for the ecoregion (see below). Each scenario meets focal
conservation targets and differs in compactness, target levels, and
overall "cost".</p>
<a href="http://dl.dropbox.com/u/28839629/runs.jpg" target="RunsDraft" onclick="return !window.open('http://dl.dropbox.com/u/28839629/runs.jpg','MARXAN runs', 'width=915,height=650,resizable=1,scrollbar=no')">
<img src="http://dl.dropbox.com/u/28839629/runs.jpg" style="margin-left: 0pt;" border="1" width="500">
</a><p style="font-size: 90%;">Above images show a series of MARXAN
scenarios, each employing slightly different target levels and other
parameters. The final Vision priority areas will be selected from a
series of MARXAN scenarios similar to the one shown above. (Click for
larger version in new window).</p>
<br>
<a href="http://www.chorographics.com/images/gec_veg.jpg" target="GECDraft" onclick="return !window.open('http://www.chorographics.com/images/gec_veg.jpg','GECDraft', 'width=770,height=560,resizable=1,scrollbar=no')">
<img src="http://www.chorographics.com/images/gec_veg.jpg" style="margin-left: 0pt;" border="1" width="325">
</a>
<p style="font-size: 90%;">Above, DRAFT ecoregion-wide vegetation map of the Guianan Moist Forests. (Click for larger version in new window).</p>
<a href="http://www.chorographics.com/projects.html">Return to top</a>
<br>
<br>
<br>

<h2 id="WilliamPenn">William Penn Foundation</h2>
<strong>Conservation Focal Area Mapping</strong>
<p><strong>Clients:</strong> <a href="http://www.bloomadv.com/about.htm">Bloomingdale Management Advisors</a>; <a href="http://www.williampennfoundation.org/">The William Penn Foundation</a>.</p>

<p>For this project, I provided GIS analysis and produced maps to
support development of new strategies for the William Penn Foundation's
land conservation grant-making. </p>

<p>Through its Environment and Communities program, the William Penn
Foundation is a significant conservation grant maker in the greater
Philadelphia region. The new strategies will help the foundation
prioritize its land conservation grant-making in six focal areas within
22 counties of greater Philadelphia.</p>

<p>My work involved collecting spatial data from disparate sources and
partners in order to produce maps and document trends in landcover,
population, development and land protection over time.</p>

<a href="http://dl.dropbox.com/u/28839629/pa_highlands.jpg" target="PaHL" onclick="return !window.open('http://dl.dropbox.com/u/28839629/pa_highlands.jpg','RankDraft', 'width=730,height=490,resizable=1,scrollbar=no')">
<img src="http://dl.dropbox.com/u/28839629/pa_highlands.jpg" style="margin-left: 0px;" border="1" width="350">
</a>

<p style="font-size: 90%;">Above, map showing the Pennsylvania
Highlands, one of six William Penn Foundation land conservation focal
areas (click on image for larger version in new window).</p>

<a href="http://www.chorographics.com/projects.html">Return to top</a>
<br>
<br>
<br>

<h2 id="Marxan">MARXAN Extensions</h2>
<p><strong>Clients:</strong> <a href="http://www.usaid.gov/missions/mg/">US-AID Madagascar</a>; <a href="http://www.conservation.org/xp/CIWEB/regions/africa/madagascar.xml">Conservation International-Madagascar</a>; <a href="http://www.worldwildlife.org/wildplaces/mad/">WWF-Madagascar</a>.</p>
<p><a href="http://www.ecology.uq.edu.au/index.html?page=27710&amp;pid=20497" target="_blank">MARXAN</a>
is reserve design software developed by Hugh Possingham and Ian Ball at
the University of Queensland. MARXAN selects efficient sets of areas
(or planning units) to meet user-defined biodiversity targets, while
minimizing "conservation cost" across the planning region. Input data
typically include species distributions, habitat or vegetation types,
and other biological features of interest. Spatial constraints, such as
compactness of the resulting reserve system and minimum areas for focal
species, may also be incorporated.</p>
<p>To facilitate the setup and configuration of the required input
files, I developed an ArcView 3.x extension to serve as an interface
for MARXAN. This extension has recently been used for conservation
planning in Madagascar, the Guianas, DRC and elsewhere. Biological
distribution data of interest (typically species and vegetation types)
are loaded into the View in polygon, grid, or point format. The user
then steps through a series of menus and input boxes to create the
necessary input tables in the proper format. The extension, including a
tutorial and training materials, is available for download <a href="http://chorographics.com/etc/wwf_gap.zip">here</a>.
(1.6 MB .zip file) [Disclaimer: By clicking on the preceding link, the
user understands that this software is provided "as is", and that no
warranty of any kind is given or implied]. To use the extension and
tutorial, download the file, unzip, and begin by reading the
instructions provided in the README.txt file.</p>
<a href="http://www.chorographics.com/projects.html">Return to top</a>
<br>
<br>
<br>

<h2 id="Global">Global Priority Setting</h2>
<p><strong>Clients:</strong> <a href="http://www.usaid.gov/">US-AID EGAT/NRM</a>.</p>

<p>For this project I developed an ArcView-based tool for ranking and
displaying areas according to their biological value. Unlike
optimization tools such as Marxan, the tool produces rankings of
two-dimensional areas (e.g. countries, ecoregions) in map and list
form. First, the users provide attributes (e.g. species richness and
endemism) and optional weights. The tool then calculates rankings by
arithmetic combination using a Euclidean distance measure.
</p><p>This tool was recently used in two global biodiversity
priority-setting exercises. In the first case, WWF-US used the tool to
explore and evaluate ecoregions based on attributes such as species
richness, endemism, and degree of protection. A 2005-2006
reorganization of their global programs was informed, in part, by the
results of this exercise. In the second example, USAID recently used
the tool for a similar exercise to rank countries by biological value.
USAID is using the results to inform budgetary allocations for
biodiversity conservation.</p>
<a href="http://www.chorographics.com/images/screen.jpg" target="ScreenDraft" onclick="return !window.open('http://www.chorographics.com/images/screen.jpg','ScreenDraft', 'width=685,height=545,resizable=1,scrollbar=no')">
<img src="http://www.chorographics.com/images/screen.jpg" style="margin-left: 0px;" border="1" width="330">
</a>
<p style="font-size: 90%;">Above, screen shot of ArcView based tool for
prioritization and display of areas according to biological rank.
(Click for larger version in new window).</p>
<br>
<a href="http://dl.dropbox.com/u/28839629/rank.jpg" target="RankDraft" onclick="return !window.open('http://dl.dropbox.com/u/28839629/rank.jpg','RankDraft', 'width=940,height=520,resizable=1,scrollbar=no')">
<img src="http://dl.dropbox.com/u/28839629/rank.jpg" style="margin-left: 0px;" border="1" width="350">
</a>
<p style="font-size: 90%;">Above, sample result of ranking of terrestrial ecoregions. (Click for larger version in new window).</p>
<br>


<a href="http://www.chorographics.com/projects.html">Return to top</a>
<br>

</div>
</div>

<%= render 'layouts/footer' %>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-1151606-1";
urchinTracker();
</script>